/* Empty. Add your own CSS if you like */
#bigcircle{
    width: 60%;
    margin: 0 auto;
}
.button {
    float: left;
    margin-right: 10px;
}
.progress{
            position: absolute;
            color: #bbb;
            font-weight: 100;
            line-height: 1;
        }

.progress-wrapper{
    position: relative;
}

#totalReps {
    font-size: 2.0em;
    padding: 10px;
}

.timerbutton {
    margin:10px;
}
h1 {margin: 10px;}
label {margin-right: 10px;}

/* Exercise List CSS */
/*
 * http://docs.angularjs.org/api/ng/directive/ngShow#usage_animations
 */
.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

/* Exercises List */
#addExerciseForm {
    width: 100%;
}

#addExerciseForm div {
    float: left;
    width: 100%;
    border: 1px solid #000;
}

/* Timer Screen */

#weightandbuttons {    
    border: 1px solid #000;
}
#weightandbuttons div {    
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#timerButtons {
}
#timerButtons button {
    float: left;
    margin: 5px auto;
    width: 100%;
}

/* End Timer Screen */